body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.guildSearch{
  margin:0 0 0 1rem;
}

#guildContainer{
  margin-top: 2rem;
}
.encounterCard{
  padding: 1rem;
  height: 15rem;
}
#encounterContainer{
  margin-top: 2rem;
}

.encounterButton{
  margin-top: 7rem;
}

.playerCard{
  padding: .22rem;
  padding-top: 1rem;
}

.btn-text{
  font-size: 1rem !important;
}

#bossHealthChart{
  padding-top: 2rem;
}

#encounterTable{
  padding-top: 1rem;
}

html body{background-color: #212529}

#navbarTop {
  background-color: #121212;
}

#encounterChart{
  background-color:whitesmoke;
  border-radius: 0.5rem;
}